diffusers==0.32.2
transformers==4.46.3
accelerate==1.1.1
safetensors==0.4.5
huggingface_hub==0.26.5
fastapi==0.115.6
uvicorn==0.32.1
imageio==2.36.1
imageio-ffmpeg==0.5.1
opencv-python-headless==4.10.0.84
pydantic==2.10.4
